.stops-grid {
  padding-top: 20px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  row-gap: 20px;
  column-gap: 20px;
  justify-content: space-evenly;
  padding: 40px 80px 80px 80px;
}

.card {
  border-radius: 4px;
  background: rgb(224, 224, 224);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
  text-align: center;
  transition: all 0.5s ease;
}

.card:hover {
  background-color: rgb(255, 255, 255);
  cursor: pointer;
}

.navbar {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: rgb(85, 136, 212);
  padding: 0px 40px 0px 40px;
}

.navbar div {
  text-align: center;
  height: 50px;
  padding-top: 15px;
  padding-bottom: 10px;
  transition: all 0.5s ease;
  border-radius: 4px;
  font-size: 30px;
}

.navbar a {
  text-decoration: none;
  color: unset;
}

.navbar div:hover {
  background-color: rgb(118, 171, 252);
}
